	<%- include('./partials/head') %>
<body>
	<% if(locals.user != null){ %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/headerDeslogueado') %>
	<% } %>

	<div class="container products-wrapper">
		<div class="col-12">
			<h2 class="products-title">Recomendados</h2>
		</div>
		<!-- Recomendados -->
		<% for(let i=0; i<product.length; i++){ %>
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="product/id/<%= product[i].id %>">
								<figure class="product-box_image">
									<img src="/images/products/<%= product[i].image %>" alt="<%= product[i].id %>">
								</figure>
								<article class="product-box_data">
									<h2> <%= product[i].title %> </h2>
									<p> <%= product[i].artistName %> </p>
								</article>
							</a>
						</section>
					</div>
				</div>
		<% } %>
		<!-- /Recomendados -->

		<div class="col-12">
			<h2 class="products-title">Más populares</h2>
		</div>
		<!-- Popoulares -->
		<% for(let i=0; i<product.length; i++){ %>
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="product/id/<%= product[i].id %>">
								<figure class="product-box_image">
									<img src="/images/products/<%= product[i].image %>" alt="<%= product[i].id %>">
								</figure>
								<article class="product-box_data">
									<h2> <%= product[i].title %> </h2>
									<p> <%= product[i].artistName %> </p>
								</article>
							</a>
						</section>
					</div>
				</div>
		<% } %>
		<!-- /Populares -->
	</div>

	<%- include('./partials/footer') %>
</body>
</html>