<%- include('./partials/head') %>
<body>
	<%- include('./partials/headerLogueado') %>

    <div class="c1">
        <form class="box1" action="/product/<%= product.id %>/update" method="POST">
            <input class="ww"  type="file" name="image" value="<%= product.image %>">
            <input class="we" type="text" name="title" placeholder="Title" value="<%= product.title %>">
            <input class="we" type="text" name="artistName" placeholder="Artist Name" value="<%= product.artistName %>">
            <button class="op" type="submit">Guardar</button>
        </form>
    </div>

	<%- include('./partials/footer') %>
</body>

</html>