	<%- include('./partials/head') %>
<body>
	<% if(locals.user != undefined){ %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/headerDeslogueado') %>
	<% } %>

	<!-- Product detail -->
	<div class="container products-wrapper">

		<% if(locals.user != undefined){ %>
			<% if(locals.user.id == product.user.id){ %>
				<div class="d-flex align-items-center">
					<% if(locals.user != undefined){ %> 
					<p class="product-detail-description">
						<form action="/product/<%= product.id %>/edit" method="GET">
							<button class="sw" type="submit">Editar</button>
						</form>
						<form class="mw" action="/product/destroy/<%= product.id %>" method="POST">
							<button class="sw" type="submit">Borrar</button>
						</form>
					</p>
					<% } %>
				</div>
			<% } %>
		<% } %>

		<div class="product-detail">
			<div class="row">
				<!-- Detail -->
				<article class="col-12 col-lg-8 product-detail-info">
					<h2 class="products-title"> <%= product.title %> </h2>
					<h3 class="product-detail-description"> <%= product.artistName %> </h3>
					<img src="/images/products/<%= product.image %>" alt="image" class="product-detail-img">
					<a href="/profile/<%= product.user.id %>">
						<p class="product-detail-description"> Uploaded by <%= product.user.userName %> </p>
					</a>
				</article>
				<!-- /Detail -->

				<!-- Comentarios -->
				<div>
					<% for(let i=0; i<product.comentario.length; i++){ %>
						<div class="comments">
							<div class="text">
								<a href="/profile/<%= product.comentario[i].user.id %>">
									<strong class="hey"><%= product.comentario[i].user.userName %></strong>
								</a>
							</div>
							<div class="texto">
								<p class="hey"><%= product.comentario[i].texto %></p>
							</div>
						</div>
					<% } %>

					<% if(locals.user != undefined){ %>
						<div class="text">
							<form action="/product/<%= product.id %>/comment" method="POST" class="form">
								<input type="text" name="texto" style="color: black; width: 500px;">
								<button type="submit" class="guardar">Guardar</button>
							</form>
						</div>
					<% } %>
				</div>
				<!-- /Comentarios -->
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer') %>

</body>
</html>