	<%- include('./partials/head') %>
<body>
	<% if(locals.user != undefined){ %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/headerDeslogueado') %>
	<% } %>

	<!-- Product detail -->
	<div class="container products-wrapper">

		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= product.title %> </h2>
			<% if(locals.user != undefined){ %> 
			<p class="product-detail-description">
				<form action="/product/id/<%= product.id %>/edit" method="POST">
					<button type="submit">Editar</button>
				</form>
				<form action="/product/destroy/<%= product.id %>" method="POST">
					<button type="submit">Borrar</button>
				</form>
			</p>
			<% } %>
		</div>

		<div class="product-detail">
			<div class="row">
				<!-- Detail -->
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= product.image %>" alt="image" class="product-detail-img">
					<p class="product-detail-description"> <%= product.artistName %> </p>
				</article>
				<!-- /Detail -->

				<!-- Comentarios -->
				<div>
					<% for(let i=0; i<comentario.length; i++){ %>
						<p><%= comentario[i].text %></p> 
					<% } %>
				</div>
				<!-- /Comentarios -->
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer') %>

</body>
</html>