<%- include('./partials/head') %>
<body>
	<%- include('./partials/headerLogueado') %>

    <div class="c1">
        <form class="box2" action="/profile/<%= user.id %>/update" method="POST">
            <input class="we" type="email" name="email" placeholder="E-Mail" value="<%= user.email %>">
            <input class="we" type="text" name="userName" placeholder="Username" value="<%= user.userName %>">
            <input class="we" type="text" name="password" placeholder="Contrseña">
            <button class="op" type="submit">Guardar</button>
        </form>
    </div>

	<%- include('./partials/footer') %>
</body>

</html>