<%- include('./partials/head') %>
<body>
	<%- include('./partials/headerLogueado') %>

    <div>
        <form action="/profileEdit" enctype="multipart/form-data" method="post">
            <input type="file" name="avatar" placeholder="Foto de Perfil">
            <input type="email" name="email" placeholder="E-Mail" value="<%= user.email %>">
            <input type="text" name="userName" placeholder="Username" value="<%= user.userName %>">
            <input type="text" name="password" placeholder="Contrseña" value="">
        </form>
    </div>

	<%- include('./partials/footer') %>
</body>

</html>